.classSectionReportCont {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 10px;
}

.classSectionTitle {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.classSectionTitle h2 {
  font-family: "Ubuntu";
  font-size: 28px;
  font-weight: 900;
}
.classSectionTitle h2::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 7px;
  background-color: blueviolet;
}
