.studentPromo {
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.promoAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  /* border: 2px solid red; */
  padding: 20px;
}
.promoAction .ant-select-selector {
  /* width: 100%; */
  min-width: 250px;
  height: 50px !important;
  padding: 0 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 600;
}
.promoAction p {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 700;
  color: gray;
  margin-bottom: 10px;
}
.studentPromo .promTitle {
  font-family: "Ubuntu";
  font-size: 25px;
  font-weight: 700;
  margin-left: 30px;
}
.promBtn {
  /* border: 2px solid red; */
  margin-left: 50px;
  margin-bottom: 20px;
  display: flex;
}
.promoTable {
  margin-top: 10px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
