.editStudent {
  margin-top: 30px;
  border-radius: 5px !important;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}
.editStudent h2 {
  color: #2192ff !important;
  font-size: 24px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  margin-left: 10px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.editStudent h2::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 7px;
  background-color: #38e54d;
}
.detailTitle {
  margin-top: -25px;
}
.detailTitle h2 {
  color: #2192ff !important;
  font-size: 24px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  margin-left: 10px;

  margin-bottom: 30px;
}
.detailTitle h2::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 7px;
  background-color: #38e54d;
}
/* .editStudentFormCont{
    float: right;
    
} */
.holder1 {
  margin-top: -50px;
  float: right;
  margin-right: 20px;
}
.editStudentFormCont Form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.editStudentFormCont Form .ant-input {
  color: #27496d;

  margin-top: 17px;
  font-size: 18px;
  /* padding: 15px; */
  max-width: 400px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  margin-left: 20px;
}

.editStudentFormCont Form p {
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;

  margin-left: 40px;
  margin-top: -15px !important;
  background-color: #fff;
  font-size: 1rem;
  color: #7f8fa6;
  z-index: 1;
}
.editStudentFormCont Form .column3 .ant-select-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  /* height: 60px !important; */
  border: 1px solid #5b5f97;
  font-size: 18px;
  /* color:#27496D; */

  margin-left: 10px;
}
/* .editStudentFormCont Form .columnOneSelect .ant-select-selector{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: 10px;
  height: 40px;
  border: 2px solid #88888b !important;
  font-size: 18px;
  color:#27496D;
  
  margin-left: 10px;
} */
.columnOneSelect .ant-select-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 50px !important;
  border: 2px solid #9b9ca5;
  font-size: 18px;
  color: #27496d;
  margin-left: 10px;
}
.editStudentFormCont Form .column3 p {
  margin-top: -14px;
}
.uploadStudentImages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 50px;
}
.uploadStudentImages .ant-upload-wrapper {
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;

  font-size: 1.2rem;
  color: #7f8fa6;
}
.uploadStudentImages p {
  margin-top: 70px;
  font-size: 20px;
}

.uploadStudentImages
  .ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 400px;
  height: 65px;
  margin-inline-end: 8px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.02);
  border: 2px dashed #d9d9d9;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}
.editSubmitBtn {
  margin-left: 80px;
  margin-top: 20px;
}
.editSubmitBtn Button {
  margin-bottom: 50px;
}
.editSubmitBtn .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px 20px !important;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;

  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #3b3486;
}
/* .column1{
    margin-left: 250px;
} */
.column2 {
  margin-left: 50px;
}
